<%- include('./includes/header.ejs'); %>


    <section class="contact-us">
        <div class="container">
            <div class="title">
                <h3>تواصل معنا</h3>
            </div>
            <div class="contact-card">
                <form class="contact-form">
                    <h3>Send Message</h3>
                    <input type="text" placeholder="Enter Your Name">
                    <input type="text" placeholder="Enter Your Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
                    <button class="btn-primary">Send</button>
                </form>
                <hr>
                <div class="our-contact-info">
                    <div class="social-icon">
                        <i class="bi bi-telephone-fill"></i>
                        <span>رقم هاتف</span>
                        <span>+212 6458874541</span>
                    </div>
                    <div class="social-icon">
                        <i class="bi bi-envelope-fill"></i>
                        <span>البريد الإلكتروني</span>
                        <span>naoui@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('./includes/footer.ejs'); %>
