<%- include('./includes/header.ejs'); %>

    <main class="hero container">
        <svg id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect width="900" height="600" fill="#F1F2F2"></rect><g><g transform="translate(5 37)"><path d="M0 -97.5L84.4 -48.7L84.4 48.7L0 97.5L-84.4 48.7L-84.4 -48.7Z" fill="rgba(98, 0, 238, .4)"></path></g><g transform="translate(559 374)"><path d="M0 -95L82.3 -47.5L82.3 47.5L0 95L-82.3 47.5L-82.3 -47.5Z" fill="rgba(98, 0, 238, .4)"></path></g><g transform="translate(252 122)"><path d="M0 -73L63.2 -36.5L63.2 36.5L0 73L-63.2 36.5L-63.2 -36.5Z" fill="rgba(98, 0, 238, .4)"></path></g><g transform="translate(490 582)"><path d="M0 -85L73.6 -42.5L73.6 42.5L0 85L-73.6 42.5L-73.6 -42.5Z" fill="rgba(98, 0, 238, .4)"></path></g><g transform="translate(821 501)"><path d="M0 -86L74.5 -43L74.5 43L0 86L-74.5 43L-74.5 -43Z" fill="rgba(98, 0, 238, .4)"></path></g></g></svg>
        <div class="hero--intro">
            <h1>مرحبا بك على منصة <span class="logo">فائده</span></h1>
            <p>نحن هنا لإنجاز أعمالك و دعم حساباتك على مواقع التواصل الاجتماعي و العديد من الخدمات الاخرى بأسعار تبدأ من 10 دولارات</p>
            <span class="subtext"><i class="bi bi-mouse2-fill"></i>إبتدأ بإنجاز أعمالك بالسهولة والأمان فقط بالنقرة</span>
            <a href="#services" class="btn-primary btn--intro">تصفح الخدمات</a>
        </div>
        <div class="hero--banner">
            <img src="/assets/images/banner.png" alt="">
        </div>
    </main>
    <section class="services" id="services">
        <div class="container">
            <div class="title">
                <h3>تعرف على خدماتنا</h3>
            </div>
            <div class="services__icons">
                <a href="/category/facebook" class="service--icon">
                    <i class="bi bi-facebook"></i>
                    <span>فيسبوك</span>
                </a>
                <a href="/category/ecommerce_store" class="service--icon">
                    <i class="bi bi-code-slash"></i>
                    <span>متجر الكتروني</span>
                </a>
                <a href="/category/youtube" class="service--icon">
                    <i class="bi bi-youtube"></i>
                    <span>يوتيوب</span>
                </a>
                <a href="/category/instagram" class="service--icon">
                    <i class="bi bi-instagram"></i>
                    <span>انستقرام</span>
                </a>
                <a href="/category/tiktok" class="service--icon">
                    <i class="bi bi-tiktok"></i>
                    <span>تيك توك</span>
                </a>
                <a href="/category/google_seo" class="service--icon">
                    <i class="bi bi-google"></i>
                    <span>جوجل seo</span>
                </a>
                <a href="/category/web_design" class="service--icon">
                    <i class="bi bi-brush"></i>
                    <span>تصميم مواقع الويب</span>
                </a>
                <a href="/category/video_editing" class="service--icon">
                    <i class="bi bi-camera-reels"></i>
                    <span>فيديو</span>
                </a>
            </div>
        </div>
    </section>
    <section class="how-it-works" id="howitworks">
        <div class="container">
            <div class="title">
                <h3>كيف تعمل منصة فائده ؟</h3>
            </div>
            <div class="steps">
                <div class="step">
                    <div class="step--head">
                        <span>1</span>
                        <h3>تصفح الخدمات</h3>
                    </div>
                    <div class="step--body">
                        <p>تصفح الخدمات و اختر الانسب لك</p>
                        <div class="step--logo">       
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                            <g>
                            <path d="m233.96 196.28h-28.539c-6.4414 0-11.668 5.2266-11.668 11.668 0 6.4414 5.2266 11.668 11.668 11.668h28.535c6.4414 0 11.668-5.2266 11.668-11.668 0-6.4414-5.2266-11.668-11.664-11.668z"/>
                            <path d="m433.7 196.28h-142.68c-6.4414 0-11.668 5.2266-11.668 11.668 0 6.4414 5.2266 11.668 11.668 11.668h142.68c6.4414 0 11.668-5.2266 11.668-11.668 0-6.4414-5.2266-11.668-11.668-11.668z"/>
                            <path d="m433.7 253.33h-142.68c-6.4414 0-11.668 5.2266-11.668 11.668s5.2266 11.668 11.668 11.668h142.68c6.4414 0 11.668-5.2266 11.668-11.668 0-6.4375-5.2266-11.668-11.668-11.668z"/>
                            <path d="m433.7 310.4h-142.68c-6.4414 0-11.668 5.2266-11.668 11.668 0 6.4414 5.2266 11.668 11.668 11.668h142.68c6.4414 0 11.668-5.2266 11.668-11.668 0-6.4414-5.2266-11.668-11.668-11.668z"/>
                            <path d="m233.96 253.33h-28.539c-6.4414 0-11.668 5.2266-11.668 11.668s5.2266 11.668 11.668 11.668h28.535c6.4414 0 11.668-5.2266 11.668-11.668 0-6.4375-5.2266-11.668-11.664-11.668z"/>
                            <path d="m233.96 310.4h-28.539c-6.4414 0-11.668 5.2266-11.668 11.668 0 6.4414 5.2266 11.668 11.668 11.668h28.535c6.4414 0 11.668-5.2266 11.668-11.668 0-6.4414-5.2266-11.668-11.664-11.668z"/>
                            <path d="m579.23 455.4c-2.8242-2.5195-5.8789-4.1523-9.1484-5.4844 20.113-44.355-2.1484-83.184-24.059-99.656-33.555-25.223-82.156-20.648-110.23 10.219-28.047 30.73-28.352 77.512-0.69922 108.8 24.406 27.578 66.406 35.234 100.54 17.219 1.5391 2.8945 3.6641 6.3242 6.7891 9.2852 12.996 12.344 26.18 24.5 39.387 36.609 6.3008 5.7617 13.488 8.8203 20.859 8.8203 7.2344 0 14.07-3.0117 19.297-8.4688 5.1562-5.3672 7.8867-12.227 7.6758-19.227-0.21094-7.6992-3.7344-15.004-10.242-21.117-12.035-11.246-26.035-24.383-40.176-37.004zm-126.61-1.5664c-19.738-22.328-19.555-55.719 0.46484-77.652 11.363-12.508 26.738-19.391 43.262-19.391 12.809 0 25.129 4.1992 35.652 12.109 14.723 11.059 36.051 42.258 11.527 81.223v0.023437c-3.6641 5.7148-9.4492 9.8945-9.5195 9.918-0.023437 0.023438-0.046874 0.046875-0.070312 0.070312-0.023438 0.023438-0.070312 0.023438-0.09375 0.046876-26.695 19.461-61.672 15.797-81.223-6.3477zm152.5 62.793c-1.2383 1.2852-2.1016 1.2852-2.4258 1.2852-1.375 0-3.2422-0.98047-5.0859-2.6602-13.137-12.039-26.18-24.078-39.059-36.328-1.2617-1.1914-2.4492-3.6406-3.4297-5.6719-0.09375-0.1875-0.16406-0.35156-0.23438-0.51172 0.83984-0.83984 1.6797-1.6797 2.5664-2.6602 0.51172 0.1875 0.76953 0.25781 1.3516 0.48828 1.8906 0.67578 4.0117 1.4688 4.9219 2.2617 14 12.484 27.859 25.48 39.738 36.609 1.7734 1.6562 2.8711 3.4062 2.8945 4.7383-0.023437 0.30078 0 1.1641-1.2383 2.4492z"/>
                            <path d="m133.49 48.441c-14.398 0-26.133 11.738-26.133 26.133 0 14.398 11.738 26.133 26.133 26.133 14.398 0 26.133-11.738 26.133-26.133 0.003906-14.398-11.734-26.133-26.133-26.133zm0 33.574c-4.1289 0-7.4414-3.3359-7.4414-7.4414s3.3359-7.4414 7.4414-7.4414c4.1094-0.003906 7.4453 3.3086 7.4453 7.4414 0 4.1289-3.3125 7.4414-7.4453 7.4414z"/>
                            <path d="m193.92 48.441c-14.398 0-26.133 11.738-26.133 26.133 0 14.398 11.738 26.133 26.133 26.133 14.398 0 26.133-11.738 26.133-26.133 0.003906-14.398-11.734-26.133-26.133-26.133zm0 33.574c-4.1289 0-7.4414-3.3359-7.4414-7.4414s3.3359-7.4414 7.4414-7.4414c4.1094-0.003906 7.4453 3.3086 7.4453 7.4414 0 4.1289-3.3359 7.4414-7.4453 7.4414z"/>
                            <path d="m254.36 48.441c-14.398 0-26.133 11.738-26.133 26.133 0 14.398 11.738 26.133 26.133 26.133 14.398 0 26.133-11.738 26.133-26.133 0-14.398-11.734-26.133-26.133-26.133zm0 33.574c-4.1289 0-7.4414-3.3359-7.4414-7.4414s3.3359-7.4414 7.4414-7.4414c4.1289 0 7.4414 3.3359 7.4414 7.4414 0.003906 4.1055-3.332 7.4414-7.4414 7.4414z"/>
                            <path d="m359.31 74.574c0 5.1562 4.1992 9.332 9.332 9.332h152.44c5.1562 0 9.332-4.1992 9.332-9.332 0-5.1328-4.1992-9.332-9.332-9.332h-152.44c-5.1523-0.027344-9.332 4.1758-9.332 9.332z"/>
                            <path d="m124.09 18.922c-36.516 0.09375-53.527 17.223-53.621 53.996-0.23438 108.01-0.11719 216.04 0 324.05 0.023437 34.953 17.383 51.988 53.059 52.012l83.953 0.046875 55.859-0.023438 121.38 0.023438c6.4414 0 11.668-5.2266 11.668-11.668v-34.93c0-6.4414-5.2266-11.668-11.668-11.668l-256.36-0.003906v-261.91h381.41v180.93c0 6.4414 5.2266 11.668 11.668 11.668h35.535c6.418 0 11.645-5.2266 11.668-11.645 0.23438-99.773 0.16406-138.58-0.070312-238.38-0.046875-34.766-17.965-52.453-53.199-52.5-130.48-0.20703-260.91-0.23047-391.28 0zm421.14 52.547c0.23438 95.762 0.30469 135.36 0.09375 226.64h-12.227v-180.93c0-6.4414-5.2266-11.668-11.668-11.668h-404.74c-6.4414 0-11.668 5.2266-11.668 11.668v285.23c0 6.4414 5.2266 11.668 11.668 11.668h256.34v11.598l-37.66-0.023437-127.89 0.023437-83.93-0.046875c-22.797-0.023438-29.727-6.7188-29.75-28.676-0.11719-107.99-0.23438-215.97 0-323.98 0.046875-23.754 6.8594-30.637 30.332-30.684 130.36-0.23438 260.8-0.21094 391.21 0 22.309 0.023438 29.844 7.3711 29.891 29.188z"/>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <i class="bi bi-arrow-left"></i>
                </div>
                <div class="step">
                    <div class="step--head">
                        <span>2</span>
                        <h3>اطلب الخدمه</h3>
                    </div>
                    <div class="step--body">
                        <p>اطلب الخدمه و تابع التنفيذ مع منصة فائده</p>
                        <div class="step--logo"> 
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 700 700">
                                <defs>
                                 <symbol id="j" overflow="visible">
                                  <path d="m39.078-2.3281c-2.0117 1.043-4.1094 1.8281-6.2969 2.3594s-4.4648 0.79688-6.8281 0.79688c-7.0859 0-12.699-1.9766-16.844-5.9375-4.1367-3.957-6.2031-9.3281-6.2031-16.109 0-6.7891 2.0664-12.164 6.2031-16.125 4.1445-3.9688 9.7578-5.9531 16.844-5.9531 2.3633 0 4.6406 0.26562 6.8281 0.79688s4.2852 1.3242 6.2969 2.375v8.7969c-2.0312-1.3828-4.0391-2.3984-6.0156-3.0469-1.9688-0.64453-4.0469-0.96875-6.2344-0.96875-3.9062 0-6.9844 1.2578-9.2344 3.7656-2.2422 2.5-3.3594 5.9531-3.3594 10.359 0 4.3867 1.1172 7.8359 3.3594 10.344 2.25 2.5 5.3281 3.75 9.2344 3.75 2.1875 0 4.2656-0.32031 6.2344-0.96875 1.9766-0.64453 3.9844-1.6602 6.0156-3.0469z"/>
                                 </symbol>
                                 <symbol id="h" overflow="visible">
                                  <path d="m16.031-40.953v9.0625h10.516v7.2812h-10.516v13.531c0 1.4805 0.28906 2.4805 0.875 3 0.59375 0.52344 1.7656 0.78125 3.5156 0.78125h5.2344v7.2969h-8.7344c-4.0312 0-6.8867-0.83594-8.5625-2.5156-1.6797-1.6875-2.5156-4.5391-2.5156-8.5625v-13.531h-5.0781v-7.2812h5.0781v-9.0625z"/>
                                 </symbol>
                                 <symbol id="g" overflow="visible">
                                  <path d="m26.594-27.234v-17.078h10.266v44.312h-10.266v-4.6094c-1.3984 1.875-2.9453 3.25-4.6406 4.125-1.6875 0.875-3.6406 1.3125-5.8594 1.3125-3.9297 0-7.1562-1.5625-9.6875-4.6875-2.5234-3.125-3.7812-7.1445-3.7812-12.062 0-4.9141 1.2578-8.9375 3.7812-12.062 2.5312-3.125 5.7578-4.6875 9.6875-4.6875 2.1953 0 4.1445 0.44531 5.8438 1.3281 1.707 0.88672 3.2578 2.2578 4.6562 4.1094zm-6.7188 20.656c2.1875 0 3.8516-0.79688 5-2.3906 1.1445-1.5938 1.7188-3.9102 1.7188-6.9531 0-3.0391-0.57422-5.3594-1.7188-6.9531-1.1484-1.5938-2.8125-2.3906-5-2.3906-2.168 0-3.8242 0.79688-4.9688 2.3906-1.1484 1.5938-1.7188 3.9141-1.7188 6.9531 0 3.043 0.57031 5.3594 1.7188 6.9531 1.1445 1.5938 2.8008 2.3906 4.9688 2.3906z"/>
                                 </symbol>
                                 <symbol id="f" overflow="visible">
                                  <path d="m21.875-6.5781c2.1758 0 3.8359-0.79688 4.9844-2.3906 1.1562-1.5938 1.7344-3.9102 1.7344-6.9531 0-3.0391-0.57812-5.3594-1.7344-6.9531-1.1484-1.5938-2.8086-2.3906-4.9844-2.3906-2.1875 0-3.8672 0.80469-5.0312 2.4062-1.168 1.6055-1.75 3.918-1.75 6.9375 0 3.0234 0.58203 5.3359 1.75 6.9375 1.1641 1.6055 2.8438 2.4062 5.0312 2.4062zm-6.7812-20.656c1.4062-1.8516 2.9609-3.2227 4.6719-4.1094 1.707-0.88281 3.6719-1.3281 5.8906-1.3281 3.9375 0 7.1641 1.5625 9.6875 4.6875 2.5195 3.125 3.7812 7.1484 3.7812 12.062 0 4.918-1.2617 8.9375-3.7812 12.062-2.5234 3.125-5.75 4.6875-9.6875 4.6875-2.2188 0-4.1836-0.44531-5.8906-1.3281-1.7109-0.88281-3.2656-2.2539-4.6719-4.1094v4.6094h-10.188v-44.312h10.188z"/>
                                 </symbol>
                                 <symbol id="e" overflow="visible">
                                  <path d="m16.312-34.234v25.953h3.9375c4.4766 0 7.8984-1.1094 10.266-3.3281 2.3633-2.2266 3.5469-5.457 3.5469-9.6875 0-4.2188-1.1797-7.4258-3.5312-9.625-2.3555-2.207-5.7812-3.3125-10.281-3.3125zm-10.953-8.2812h11.562c6.4453 0 11.25 0.46094 14.406 1.375 3.1641 0.91797 5.8789 2.4805 8.1406 4.6875 2 1.918 3.4844 4.1328 4.4531 6.6406 0.96875 2.5 1.4531 5.3398 1.4531 8.5156 0 3.2109-0.48438 6.0742-1.4531 8.5938-0.96875 2.5117-2.4531 4.7266-4.4531 6.6406-2.2734 2.1992-5.0078 3.7617-8.2031 4.6875-3.1875 0.91797-7.9688 1.375-14.344 1.375h-11.562z"/>
                                 </symbol>
                                 <symbol id="d" overflow="visible">
                                  <path d="m24.781-35.344c-3.3438 0-5.9375 1.2344-7.7812 3.7031s-2.7656 5.9453-2.7656 10.422c0 4.4609 0.92188 7.9219 2.7656 10.391s4.4375 3.7031 7.7812 3.7031c3.3516 0 5.9531-1.2344 7.7969-3.7031s2.7656-5.9297 2.7656-10.391c0-4.4766-0.92188-7.9531-2.7656-10.422s-4.4453-3.7031-7.7969-3.7031zm0-7.9531c6.832 0 12.188 1.9609 16.062 5.875 3.875 3.9062 5.8125 9.3086 5.8125 16.203 0 6.875-1.9375 12.273-5.8125 16.188-3.875 3.9062-9.2305 5.8594-16.062 5.8594-6.8242 0-12.18-1.9531-16.062-5.8594-3.875-3.9141-5.8125-9.3125-5.8125-16.188 0-6.8945 1.9375-12.297 5.8125-16.203 3.8828-3.9141 9.2383-5.875 16.062-5.875z"/>
                                 </symbol>
                                 <symbol id="c" overflow="visible">
                                  <path d="m5.3594-42.516h10.953v25.484c0 3.5117 0.57031 6.0234 1.7188 7.5312 1.1562 1.5117 3.0352 2.2656 5.6406 2.2656 2.6133 0 4.4922-0.75391 5.6406-2.2656 1.1562-1.5078 1.7344-4.0195 1.7344-7.5312v-25.484h10.969v25.484c0 6.0234-1.5117 10.508-4.5312 13.453-3.0234 2.9375-7.625 4.4062-13.812 4.4062-6.1797 0-10.777-1.4688-13.797-4.4062-3.0117-2.9453-4.5156-7.4297-4.5156-13.453z"/>
                                 </symbol>
                                 <symbol id="b" overflow="visible">
                                  <path d="m22.391-26.062c1.7266 0 3.0352-0.37891 3.9219-1.1406 0.89453-0.75781 1.3438-1.8789 1.3438-3.3594 0-1.457-0.44922-2.5703-1.3438-3.3438-0.88672-0.76953-2.1953-1.1562-3.9219-1.1562h-6.0781v9zm0.35938 18.594c2.207 0 3.8633-0.46094 4.9688-1.3906 1.1133-0.92578 1.6719-2.332 1.6719-4.2188 0-1.832-0.55469-3.207-1.6562-4.125-1.0938-0.92578-2.7578-1.3906-4.9844-1.3906h-6.4375v11.125zm10.203-15.281c2.3516 0.67969 4.1758 1.9375 5.4688 3.7812 1.2891 1.8438 1.9375 4.1055 1.9375 6.7812 0 4.1055-1.3867 7.1641-4.1562 9.1719-2.7734 2.0117-6.9922 3.0156-12.656 3.0156h-18.188v-42.516h16.453c5.9062 0 10.18 0.89062 12.828 2.6719 2.6562 1.7812 3.9844 4.6406 3.9844 8.5781 0 2.0625-0.48438 3.8242-1.4531 5.2812-0.96875 1.4492-2.375 2.5273-4.2188 3.2344z"/>
                                 </symbol>
                                 <symbol id="a" overflow="visible">
                                  <path d="m5.3594-42.516h10.953v34.234h19.266v8.2812h-30.219z"/>
                                 </symbol>
                                 <symbol id="i" overflow="visible">
                                  <path d="m5.3594-42.516h29.594v8.2812h-18.641v7.9219h17.516v8.2812h-17.516v9.75h19.266v8.2812h-30.219z"/>
                                 </symbol>
                                </defs>
                                <g>
                                 <path d="m309.17 58.332c0 9.668-7.8359 17.5-17.5 17.5-9.668 0-17.5-7.832-17.5-17.5 0-9.6641 7.832-17.5 17.5-17.5 9.6641 0 17.5 7.8359 17.5 17.5"/>
                                 <path d="m359.68 536.67h-247.68c-3.8672 0-7-3.1367-7-7v-429.34c0-3.8633 3.1328-7 7-7h74.668v13.77c0 5.5898 2.2031 10.957 6.1367 14.93 3.9297 3.9766 9.2695 6.2422 14.863 6.3008h168c5.5898-0.058593 10.93-2.3242 14.863-6.3008 3.9297-3.9727 6.1367-9.3398 6.1367-14.93v-13.77h74.668-0.003907c3.8672 0 7 3.1367 7 7v156.34c0 6.4414 5.2266 11.664 11.668 11.664s11.668-5.2227 11.668-11.664v-156.34c-0.03125-8.0352-3.2383-15.73-8.918-21.414-5.6836-5.6797-13.383-8.8867-21.418-8.918h-75.598c-1.8203-8.9492-6.6641-16.996-13.719-22.797-7.0508-5.7969-15.887-8.9961-25.016-9.0547h-10.852c-5.6562-14.793-17.09-26.648-31.668-32.844-14.578-6.1953-31.051-6.1953-45.629 0-14.578 6.1953-26.008 18.051-31.668 32.844h-10.852c-9.1289 0.058593-17.961 3.2578-25.016 9.0547-7.0508 5.8008-11.895 13.848-13.715 22.797h-75.602c-8.0352 0.03125-15.734 3.2383-21.414 8.918-5.6836 5.6836-8.8867 13.379-8.918 21.414v429.34c0.03125 8.0352 3.2344 15.73 8.918 21.414 5.6797 5.6797 13.379 8.8867 21.414 8.918h247.68c6.4414 0 11.668-5.2227 11.668-11.668 0-6.4414-5.2266-11.664-11.668-11.664zm-149.68-458.15c-0.09375-4.4258 1.5742-8.7031 4.6367-11.898 3.0625-3.1953 7.2734-5.043 11.695-5.1328h29.168l1.8672-9.4492c2.1602-10.633 9.125-19.664 18.859-24.449 9.7383-4.7852 21.141-4.7852 30.879 0 9.7344 4.7852 16.703 13.816 18.859 24.449l1.8672 9.4492h29.168c4.4258 0.089844 8.6328 1.9375 11.695 5.1328 3.0625 3.1953 4.7305 7.4727 4.6367 11.898v26.484h-163.33z"/>
                                 <path d="m221.67 198.33h186.67v23.332h-186.67z"/>
                                 <path d="m169.17 180.83c-7.7383 0-15.156 3.0742-20.625 8.543-5.4688 5.4727-8.543 12.891-8.543 20.625s3.0742 15.152 8.543 20.625c5.4688 5.4688 12.887 8.543 20.625 8.543 7.7344 0 15.152-3.0742 20.621-8.543 5.4727-5.4727 8.543-12.891 8.543-20.625s-3.0703-15.152-8.543-20.625c-5.4688-5.4688-12.887-8.543-20.621-8.543zm0 46.668c-4.6445 0-9.0938-1.8438-12.375-5.125s-5.125-7.7344-5.125-12.375 1.8438-9.0938 5.125-12.375 7.7305-5.125 12.375-5.125c4.6406 0 9.0898 1.8438 12.375 5.125 3.2812 3.2812 5.125 7.7344 5.125 12.375s-1.8438 9.0938-5.125 12.375c-3.2852 3.2812-7.7344 5.125-12.375 5.125z"/>
                                 <path d="m221.67 315h116.67v23.332h-116.67z"/>
                                 <path d="m169.17 297.5c-7.7383 0-15.156 3.0742-20.625 8.543s-8.543 12.887-8.543 20.625c0 7.7344 3.0742 15.152 8.543 20.621 5.4688 5.4727 12.887 8.543 20.625 8.543 7.7344 0 15.152-3.0703 20.621-8.543 5.4727-5.4688 8.543-12.887 8.543-20.621 0-7.7383-3.0703-15.156-8.543-20.625-5.4688-5.4688-12.887-8.543-20.621-8.543zm0 46.668c-4.6445 0-9.0938-1.8438-12.375-5.125-3.2812-3.2852-5.125-7.7344-5.125-12.375 0-4.6445 1.8438-9.0938 5.125-12.375s7.7305-5.125 12.375-5.125c4.6406 0 9.0898 1.8438 12.375 5.125 3.2812 3.2812 5.125 7.7305 5.125 12.375 0 4.6406-1.8438 9.0898-5.125 12.375-3.2852 3.2812-7.7344 5.125-12.375 5.125z"/>
                                 <path d="m221.67 431.67h93.332v23.332h-93.332z"/>
                                 <path d="m169.17 414.17c-7.7383 0-15.156 3.0703-20.625 8.543-5.4688 5.4688-8.543 12.887-8.543 20.621 0 7.7383 3.0742 15.156 8.543 20.625s12.887 8.543 20.625 8.543c7.7344 0 15.152-3.0742 20.621-8.543 5.4727-5.4688 8.543-12.887 8.543-20.625 0-7.7344-3.0703-15.152-8.543-20.621-5.4688-5.4727-12.887-8.543-20.621-8.543zm0 46.668v-0.003907c-4.6445 0-9.0938-1.8438-12.375-5.125s-5.125-7.7305-5.125-12.375c0-4.6406 1.8438-9.0898 5.125-12.375 3.2812-3.2812 7.7305-5.125 12.375-5.125 4.6406 0 9.0898 1.8438 12.375 5.125 3.2812 3.2852 5.125 7.7344 5.125 12.375 0 4.6445-1.8438 9.0938-5.125 12.375-3.2852 3.2812-7.7344 5.125-12.375 5.125z"/>
                                 <path d="m490 303.33c-34.035 0-66.68 13.523-90.746 37.59s-37.586 56.707-37.586 90.746c0 34.035 13.52 66.676 37.586 90.742 24.066 24.07 56.711 37.59 90.746 37.59s66.68-13.52 90.746-37.59c24.066-24.066 37.586-56.707 37.586-90.742 0-34.039-13.52-66.68-37.586-90.746s-56.711-37.59-90.746-37.59zm0 233.33v0.003907c-27.848 0-54.555-11.062-74.246-30.754-19.691-19.691-30.754-46.398-30.754-74.246 0-27.848 11.062-54.555 30.754-74.246s46.398-30.754 74.246-30.754 54.555 11.062 74.246 30.754 30.754 46.398 30.754 74.246c0 27.848-11.062 54.555-30.754 74.246-19.691 19.691-46.398 30.754-74.246 30.754z"/>
                                 <path d="m528.27 388.62-58.332 61.133-18.316-19.133c-4.543-4.0859-11.465-3.9766-15.875 0.25-4.4102 4.2266-4.8125 11.137-0.92578 15.848l26.602 28c2.2031 2.3203 5.2578 3.6328 8.457 3.6328s6.2539-1.3125 8.457-3.6328l66.617-70c3.8867-4.7109 3.4844-11.621-0.92578-15.848-4.4102-4.2266-11.332-4.3359-15.875-0.25z"/>
                                </g>
                               </svg>
                        </div>
                    </div>
                    <i class="bi bi-arrow-left"></i>
                </div>
                <div class="step">
                    <div class="step--head">
                        <span>3</span>
                        <h3>استلم الخدمة</h3>
                    </div>
                    <div class="step--body">
                        <p>استلم خدمتك في الموعد</p>
                        <div class="step--logo"> 
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 700 700">
                                <defs>
                                 <symbol id="l" overflow="visible">
                                  <path d="m29.312-1.75c-1.5117 0.78125-3.0898 1.3711-4.7344 1.7656-1.6367 0.40625-3.3398 0.60938-5.1094 0.60938-5.3125 0-9.5273-1.4844-12.641-4.4531-3.1055-2.9688-4.6562-7-4.6562-12.094s1.5508-9.125 4.6562-12.094c3.1133-2.9688 7.3281-4.4531 12.641-4.4531 1.7695 0 3.4727 0.19922 5.1094 0.59375 1.6445 0.39844 3.2227 0.99219 4.7344 1.7812v6.5938c-1.5312-1.0391-3.0391-1.8008-4.5156-2.2812-1.4805-0.48828-3.0391-0.73438-4.6719-0.73438-2.9375 0-5.2461 0.94531-6.9219 2.8281-1.6797 1.875-2.5156 4.4648-2.5156 7.7656 0 3.293 0.83594 5.8828 2.5156 7.7656 1.6758 1.875 3.9844 2.8125 6.9219 2.8125 1.6328 0 3.1914-0.23828 4.6719-0.71875 1.4766-0.48828 2.9844-1.2539 4.5156-2.2969z"/>
                                 </symbol>
                                 <symbol id="b" overflow="visible">
                                  <path d="m21.453-17.406c-0.67969-0.3125-1.3516-0.53906-2.0156-0.6875-0.65625-0.15625-1.3203-0.23438-1.9844-0.23438-1.9688 0-3.4844 0.63281-4.5469 1.8906-1.0547 1.2617-1.5781 3.0703-1.5781 5.4219v11.016h-7.6562v-23.922h7.6562v3.9219c0.97656-1.5625 2.1016-2.7031 3.375-3.4219 1.2812-0.71875 2.8125-1.0781 4.5938-1.0781 0.25 0 0.52344 0.011719 0.82812 0.03125 0.30078 0.023438 0.73438 0.070312 1.2969 0.14062z"/>
                                 </symbol>
                                 <symbol id="a" overflow="visible">
                                  <path d="m27.562-12.031v2.1875h-17.891c0.1875 1.793 0.83203 3.1367 1.9375 4.0312 1.1133 0.89844 2.6719 1.3438 4.6719 1.3438 1.6016 0 3.25-0.23438 4.9375-0.70312 1.6875-0.47656 3.4219-1.2031 5.2031-2.1719v5.8906c-1.8047 0.6875-3.6094 1.2031-5.4219 1.5469-1.8125 0.35156-3.6211 0.53125-5.4219 0.53125-4.3359 0-7.7031-1.0977-10.109-3.2969-2.3984-2.207-3.5938-5.2969-3.5938-9.2656 0-3.9062 1.1758-6.9727 3.5312-9.2031 2.3633-2.2383 5.6094-3.3594 9.7344-3.3594 3.7578 0 6.7695 1.1367 9.0312 3.4062 2.2578 2.2617 3.3906 5.2812 3.3906 9.0625zm-7.8594-2.5312c0-1.457-0.42969-2.6289-1.2812-3.5156-0.84375-0.89453-1.9492-1.3438-3.3125-1.3438-1.4922 0-2.6992 0.41797-3.625 1.25-0.91797 0.83594-1.4922 2.0391-1.7188 3.6094z"/>
                                 </symbol>
                                 <symbol id="h" overflow="visible">
                                  <path d="m14.391-10.766c-1.5938 0-2.793 0.27344-3.5938 0.8125-0.80469 0.54297-1.2031 1.3398-1.2031 2.3906 0 0.96875 0.32031 1.7305 0.96875 2.2812 0.64453 0.54297 1.5469 0.8125 2.7031 0.8125 1.4375 0 2.6445-0.51562 3.625-1.5469 0.98828-1.0312 1.4844-2.3203 1.4844-3.875v-0.875zm11.688-2.8906v13.656h-7.7031v-3.5469c-1.0312 1.4492-2.1875 2.5078-3.4688 3.1719s-2.8398 1-4.6719 1c-2.4805 0-4.4961-0.72266-6.0469-2.1719-1.543-1.4453-2.3125-3.3203-2.3125-5.625 0-2.8125 0.96094-4.8672 2.8906-6.1719 1.9375-1.3125 4.9688-1.9688 9.0938-1.9688h4.5156v-0.60938c0-1.207-0.48047-2.0938-1.4375-2.6562-0.94922-0.5625-2.4375-0.84375-4.4688-0.84375-1.6367 0-3.1562 0.16797-4.5625 0.5-1.4062 0.32422-2.7188 0.8125-3.9375 1.4688v-5.8281c1.6445-0.40625 3.2891-0.70703 4.9375-0.90625 1.6562-0.20703 3.3047-0.3125 4.9531-0.3125 4.3203 0 7.4375 0.85547 9.3438 2.5625 1.9141 1.6992 2.875 4.4609 2.875 8.2812z"/>
                                 </symbol>
                                 <symbol id="g" overflow="visible">
                                  <path d="m12.031-30.719v6.7969h7.875v5.4688h-7.875v10.141c0 1.1172 0.21875 1.8711 0.65625 2.2656 0.4375 0.38672 1.3125 0.57812 2.625 0.57812h3.9375v5.4688h-6.5625c-3.0234 0-5.1641-0.62891-6.4219-1.8906-1.2617-1.2578-1.8906-3.3984-1.8906-6.4219v-10.141h-3.7969v-5.4688h3.7969v-6.7969z"/>
                                 </symbol>
                                 <symbol id="f" overflow="visible">
                                  <path d="m19.953-20.422v-12.812h7.6875v33.234h-7.6875v-3.4531c-1.0547 1.4062-2.2148 2.4375-3.4844 3.0938-1.2734 0.65625-2.7422 0.98438-4.4062 0.98438-2.9492 0-5.3711-1.1719-7.2656-3.5156-1.8867-2.3438-2.8281-5.3594-2.8281-9.0469s0.94141-6.7031 2.8281-9.0469c1.8945-2.3438 4.3164-3.5156 7.2656-3.5156 1.6562 0 3.1172 0.33594 4.3906 1 1.2812 0.65625 2.4453 1.6836 3.5 3.0781zm-5.0469 15.484c1.6445 0 2.8945-0.59766 3.75-1.7969 0.86328-1.1953 1.2969-2.9297 1.2969-5.2031 0-2.2812-0.43359-4.0195-1.2969-5.2188-0.85547-1.1953-2.1055-1.7969-3.75-1.7969-1.625 0-2.8711 0.60156-3.7344 1.7969-0.85547 1.1992-1.2812 2.9375-1.2812 5.2188 0 2.2734 0.42578 4.0078 1.2812 5.2031 0.86328 1.1992 2.1094 1.7969 3.7344 1.7969z"/>
                                 </symbol>
                                 <symbol id="e" overflow="visible">
                                  <path d="m16.406-4.9375c1.6328 0 2.8828-0.59766 3.75-1.7969 0.86328-1.1953 1.2969-2.9297 1.2969-5.2031 0-2.2812-0.43359-4.0195-1.2969-5.2188-0.86719-1.1953-2.1172-1.7969-3.75-1.7969-1.6367 0-2.8906 0.60547-3.7656 1.8125-0.875 1.1992-1.3125 2.9336-1.3125 5.2031 0 2.2617 0.4375 3.9961 1.3125 5.2031 0.875 1.1992 2.1289 1.7969 3.7656 1.7969zm-5.0781-15.484c1.0508-1.3945 2.2188-2.4219 3.5-3.0781 1.2812-0.66406 2.7539-1 4.4219-1 2.9453 0 5.3672 1.1719 7.2656 3.5156 1.8945 2.3438 2.8438 5.3594 2.8438 9.0469s-0.94922 6.7031-2.8438 9.0469c-1.8984 2.3438-4.3203 3.5156-7.2656 3.5156-1.668 0-3.1406-0.33594-4.4219-1s-2.4492-1.6914-3.5-3.0781v3.4531h-7.6562v-33.234h7.6562z"/>
                                 </symbol>
                                 <symbol id="d" overflow="visible">
                                  <path d="m0.53125-23.922h7.6562l6.4219 16.234 5.4688-16.234h7.6562l-10.062 26.188c-1.0117 2.6641-2.1953 4.5234-3.5469 5.5781-1.3438 1.0625-3.1211 1.5938-5.3281 1.5938h-4.4219v-5.0156h2.3906c1.3008 0 2.2422-0.21094 2.8281-0.625 0.59375-0.40625 1.0547-1.1484 1.3906-2.2188l0.20312-0.65625z"/>
                                 </symbol>
                                 <symbol id="c" overflow="visible">
                                  <path d="m16.797-19.547c1.2891 0 2.2695-0.28125 2.9375-0.84375 0.67578-0.57031 1.0156-1.4141 1.0156-2.5312 0-1.0938-0.33984-1.9258-1.0156-2.5-0.66797-0.58203-1.6484-0.875-2.9375-0.875h-4.5625v6.75zm0.26562 13.953c1.6562 0 2.8984-0.34766 3.7344-1.0469 0.83203-0.69531 1.25-1.7539 1.25-3.1719 0-1.375-0.41797-2.4062-1.25-3.0938-0.82422-0.69531-2.0703-1.0469-3.7344-1.0469h-4.8281v8.3594zm7.6562-11.469c1.7578 0.51172 3.125 1.4609 4.0938 2.8438 0.96875 1.375 1.4531 3.0703 1.4531 5.0781 0 3.0742-1.043 5.3672-3.125 6.875-2.0742 1.5117-5.2305 2.2656-9.4688 2.2656h-13.656v-31.891h12.344c4.4258 0 7.6328 0.67188 9.625 2.0156 1.9883 1.3359 2.9844 3.4766 2.9844 6.4219 0 1.5547-0.36719 2.875-1.0938 3.9688-0.73047 1.0859-1.7812 1.8906-3.1562 2.4219z"/>
                                 </symbol>
                                 <symbol id="k" overflow="visible">
                                  <path d="m23-23.172v6.2344c-1.0312-0.71875-2.0742-1.2422-3.125-1.5781-1.043-0.34375-2.125-0.51562-3.25-0.51562-2.1367 0-3.8047 0.625-5 1.875-1.1875 1.2422-1.7812 2.9805-1.7812 5.2188 0 2.2305 0.59375 3.9688 1.7812 5.2188 1.1953 1.25 2.8633 1.875 5 1.875 1.1953 0 2.332-0.17578 3.4062-0.53125 1.0703-0.36328 2.0625-0.89453 2.9688-1.5938v6.2656c-1.1875 0.4375-2.4023 0.76562-3.6406 0.98438-1.2305 0.22656-2.4648 0.34375-3.7031 0.34375-4.3125 0-7.6875-1.1094-10.125-3.3281s-3.6562-5.2969-3.6562-9.2344c0-3.9453 1.2188-7.0234 3.6562-9.2344 2.4375-2.2188 5.8125-3.3281 10.125-3.3281 1.25 0 2.4844 0.10938 3.7031 0.32812s2.4297 0.55469 3.6406 1z"/>
                                 </symbol>
                                 <symbol id="j" overflow="visible">
                                  <path d="m3.6719-23.922h7.6562v23.922h-7.6562zm0-9.3125h7.6562v6.2344h-7.6562z"/>
                                 </symbol>
                                 <symbol id="i" overflow="visible">
                                  <path d="m22.359-23.172v5.7969c-1.6367-0.67578-3.2148-1.1875-4.7344-1.5312-1.5234-0.34375-2.9609-0.51562-4.3125-0.51562-1.4609 0-2.543 0.18359-3.25 0.54688-0.69922 0.36719-1.0469 0.92188-1.0469 1.6719 0 0.61719 0.26562 1.0898 0.79688 1.4219 0.53125 0.32422 1.4883 0.5625 2.875 0.71875l1.3438 0.1875c3.9141 0.5 6.5508 1.3242 7.9062 2.4688 1.3516 1.1367 2.0312 2.9219 2.0312 5.3594 0 2.5547-0.94531 4.4688-2.8281 5.75-1.875 1.2812-4.6797 1.9219-8.4062 1.9219-1.5859 0-3.2188-0.125-4.9062-0.375s-3.4219-0.625-5.2031-1.125v-5.8125c1.5195 0.74219 3.082 1.2969 4.6875 1.6719 1.6016 0.36719 3.2344 0.54688 4.8906 0.54688 1.4883 0 2.6094-0.20312 3.3594-0.60938 0.75781-0.41406 1.1406-1.0312 1.1406-1.8438 0-0.6875-0.26172-1.1953-0.78125-1.5312-0.52344-0.33203-1.5586-0.59375-3.1094-0.78125l-1.3438-0.17188c-3.4062-0.42578-5.793-1.2109-7.1562-2.3594-1.3672-1.1562-2.0469-2.9102-2.0469-5.2656 0-2.5312 0.86719-4.4062 2.6094-5.625 1.7383-1.2266 4.3984-1.8438 7.9844-1.8438 1.4062 0 2.8828 0.10938 4.4375 0.32812 1.5508 0.21094 3.2383 0.54297 5.0625 1z"/>
                                 </symbol>
                                </defs>
                                <g>
                                 <path d="m624.6 0.66406c-1.0859-0.45312-2.2227-0.58594-3.3516-0.58594v-0.078125h-323.75c-2.3281 0-4.5508 0.91797-6.1875 2.5625l-104.99 104.99c-1.5859 1.5859-2.5742 3.7734-2.5742 6.1953v218.75c0 4.8398 3.9102 8.75 8.75 8.75h323.75c2.4219 0 4.6094-0.98828 6.1953-2.5742l104.99-104.99c1.6445-1.6328 2.5625-3.8555 2.5625-6.1836v-218.75c0-3.5352-2.125-6.7383-5.3984-8.0859zm-111.97 104.34h-89.008l87.5-87.5h89.004zm-26.25-87.5-90.066 90.062c-1.6445 1.6367-2.5625 3.8594-2.5625 6.1875v79.906l-12.645-8.4336c-2.9414-1.9688-6.7656-1.9688-9.7031 0l-21.402 14.262-21.395-14.262c-1.4688-0.98438-3.168-1.4727-4.8555-1.4727s-3.3867 0.48828-4.8555 1.4688l-12.645 8.4375v-76.281l99.871-99.875zm-185.26 0h80.254l-87.5 87.5h-80.254zm206.38 306.25h-306.25v-201.25h87.5v87.5c0 3.2305 1.7773 6.1953 4.6211 7.7188 2.8359 1.5234 6.3008 1.3477 8.9766-0.4375l21.402-14.266 21.395 14.262c2.9414 1.9688 6.7656 1.9688 9.7031 0l21.402-14.262 21.395 14.262c1.4609 0.97266 3.1562 1.4727 4.8555 1.4727 1.418 0 2.8359-0.33984 4.1289-1.0312 2.8438-1.5234 4.6211-4.4883 4.6211-7.7188v-87.5h96.25zm105-99.871-87.5 87.5v-194.01l87.5-87.5z"/>
                                 <path d="m236.25 516.25c4.8398 0 8.75-3.9102 8.75-8.75h24.184l93.547 46.777c4.043 2.0195 8.4258 3.0352 12.793 3.0352 4.9805 0 9.9492-1.3047 14.402-3.9023l190.89-111.36c8.75-5.1016 14.184-14.559 14.184-24.691 0-8.4609-3.7188-16.441-10.195-21.891-6.4648-5.4414-14.988-7.7344-23.301-6.293l-173.53 30.176-49.289-49.289c-1.6367-1.6445-3.8594-2.5625-6.1875-2.5625h-87.5c0-4.8398-3.9102-8.75-8.75-8.75h-166.25v17.5h122.5v122.5h-122.5v17.5zm92.629-131.25 68.941 68.941c2.9727 2.9766 4.6797 7.0977 4.6797 11.312 0 8.8203-7.1758 15.996-15.996 15.996-4.207 0-8.3398-1.707-11.312-4.6797l-45.254-45.254-12.371 12.371 45.254 45.254c6.3242 6.3242 14.734 9.8086 23.684 9.8086 18.465 0 33.496-15.031 33.496-33.496 0-8.9414-3.4844-17.359-9.8086-23.688l-7.0859-7.0859 161.39-28.07c3.2656-0.58594 6.5352 0.32422 9.0469 2.4414 2.5156 2.1172 3.9609 5.2148 3.9609 8.4961 0 3.9297-2.1094 7.6055-5.5039 9.582l-190.88 111.36c-3.2383 1.8906-7.1836 2.0117-10.551 0.33203l-95.391-47.695c-1.2188-0.61328-2.5664-0.92969-3.9219-0.92969h-26.25v-105zm-101.38 113.75h-17.5v-122.5h17.5z"/>
                                 <path d="m148.75 78.75c0 4.8398 3.9102 8.75 8.75 8.75s8.75-3.9102 8.75-8.75c0-14.473 11.777-26.25 26.25-26.25 4.8398 0 8.75-3.9102 8.75-8.75s-3.9102-8.75-8.75-8.75c-14.473 0-26.25-11.777-26.25-26.25 0-4.8398-3.9102-8.75-8.75-8.75s-8.75 3.9102-8.75 8.75c0 14.473-11.777 26.25-26.25 26.25-4.8398 0-8.75 3.9102-8.75 8.75s3.9102 8.75 8.75 8.75c14.473 0 26.25 11.777 26.25 26.25zm8.75-43.777c2.4922 3.3242 5.4531 6.2812 8.7773 8.7773-3.3242 2.4922-6.2852 5.4531-8.7773 8.7773-2.4922-3.3242-5.4531-6.2852-8.7773-8.7773 3.3242-2.4922 6.2852-5.4531 8.7773-8.7773z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us" id="whyus">
        <div class="container">
            <div class="title">
                <h3>لماذا نحن ؟</h3>
            </div> 
            <div class="accordion">
                <div class="accordion-item">
                    <button class="accordion-header">
                        <span>لماذا منصة فائده ؟</span><i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="accordion-body">
                        منصة فائدة هي أكبر سوق عربي لبيع وشراء الخدمات المصغرة. تجمع فائدة بين الشباب العربي الموهوب المستعد لتقديم خبراته ومهاراته على شكل خدمات مصغرة بأسعار تبدأ من 10 دولار، وبين الأفراد ورواد الأعمال الذين يحتاجون هذه الخدمات لتساعدهم في تنمية وتطوير أعمالهم.
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header">
                        <span>كيف أستفيد من منصة فائدة ؟</span><i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="accordion-body">
                        تستطيع إستافدة من مختلف الخدمات و هي كالتالي إنشاء موقع ويب ، متجر إليكتروني، تصميم شعار ، زيادة متابعين و لايكات على مواقع التواصل الاجتماعي و الكثير من الخدمات من طاقم محترف نضمن لك الجودة و تنفيذ خدمة المطلوبة في أسرع وقت
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header">
                        <span>بأي طريقة أدفع ؟</span><i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="accordion-body">
                        يمكنك الدفع عن طريق: بايبال و بايونير و سياش بنك
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header">
                        <span>كيف تضمن منصة فائدة حقوق المشتري ؟</span><i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="accordion-body">
                        في حال حدوث أي تقصير من البائع في تنفيذ الخدمة بشكلها الكامل يضمن الموقع إعادة المال كاملاً للمشتري دون أي نقصان وذلك وفقا لشروط الإستخدام، فقط كل ما عليك هو فتح تذكرة دعم فني.
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header">
                        <span>ما هي الأسباب التي قد تؤدي لإيقاف حساب المستخدم ؟</span><i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="accordion-body">
                        يوجد عدة أسباب مذكرة في صفحة "شروط الاستخدام" لعل من أبرزها: إنشاء أكثر من حساب – التجاوز الأخلاقي بأي شكل وتجاه أي شخص على الموقع - إرسال وسائل التواصل الخارجي ضمن أي قسم من أقسام الموقع بهدف التعامل خارج المنصة أو أي محاولة إحتيال أو غش.
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header">
                        <span>ماذا سيحدث بعد شرائي لأحد الخدمات المعروضة على منصة فائدة ؟</span><i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="accordion-body">
                        بعد قيام البائع بتنفيذ وتسليم الخدمة يمكنك تقييمها حتى يستفيد بقية المشترين من تجربتك، ستصلك رسالة بريدية لتأكيد عملية الشراء، وستتمكن من التواصل المباشر مع البائع ضمن صفحة الطلب وفي حال تأخر البائع عن مدة تنفيذ الطلب الموضحة أو عدم التزامه بالوصف المحدد للخدمة يمكنك إلغاء الطلب واستعادة رصيدك كاملًا.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials" id="testimonials">
        <div class="container">
            <div class="title">
                <h3>ماذا قال عملاؤنا عنا ؟</h3>
            </div>
            <div class="testimonial-cards">
                <div class="testimonial-card">
                    <div class="testimonial-head">
                        <img src="/assets/images/person1.jpeg" alt="">
                    </div>
                    <div class="testimonial-body">
                        <div class="testimonial-info">
                            <h3>ليلى</h3>
                            <svg viewBox="0 0 512 512" title="quote-left" class="quote-icon">
                                <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                            </svg>
                            <p>أعجبتني الخدمة  ممتازة و فيي مستوى شكرا لكم</p>
                        </div>
                        <div class="testimonial-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-head">
                        <img src="/assets/images/person2.jpg" alt="">
                    </div>
                    <div class="testimonial-body">
                        <div class="testimonial-info">
                            <h3>محمد</h3>
                            <svg viewBox="0 0 512 512" title="quote-left" class="quote-icon">
                                <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                            </svg>
                            <p>شكرا لكم جزيلا على هذه الخدمة الممتازة ، لقد تمت بنجاح و كما أريد خدماتكم رائعة</p>
                        </div>
                        <div class="testimonial-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-head">
                        <img src="/assets/images/person3.jpg" alt="">
                    </div>
                    <div class="testimonial-body">
                        <div class="testimonial-info">
                            <h3>احمد</h3>
                            <svg viewBox="0 0 512 512" title="quote-left" class="quote-icon">
                                <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                            </svg>
                            <p>أنصح أصحاب المشاريع بهذا الموقع ، إنه رائع و يوفر الوقت عليك</p>
                        </div>
                        <div class="testimonial-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter" id="newsletter">
        <div class="container-custom">
            <div class="newsletter-head">
                <i class="bi bi-envelope-paper"></i>
                <div class="newsletter-content">
                    <h1>إنضم إلينا لكي تتوصل بكل ما هو جديد</h1>
                    <p>إنظم على منصتنا لكي تتوصل بالجديد ، خدمتنا المشاريع و الخدمات المصغره التى تقدم لك كافة إحتياجاتك لنمو مشاريعك مع نخبة من أفضل المستقلين المرشحين من فائدة</p>
                </div>
            </div>
            <div class="newsletter-body">
                <form action="/subscribe" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="effect" class="effect" name="email">
                            <label for="effect" id="effect-label">Email Address</label>
                        </div>
                        <button type="submit" class="btn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="our-blog">
        <div class="container">
            <div class="title">
                <h3>تابعنا على المدونة خاصة بنا</h3>
            </div>
            <div class="our-blog-cards">
                <a href="#" class="our-blog-card">
                    <img src="/assets/images/socialmedia.png" alt="">
                    <div class="our-blog-card-content">
                        <div class="our-blog-card-info">
                            <span>20 أكتوبر 2021</span>
                            <span>مونتاج</span>
                        </div>
                        <h3 class="our-blog-card-title">أفضل تطبيقات مونتاج الصور للمصورين</h3>
                    </div>
                </a>
                <a href="#" class="our-blog-card">
                    <img src="/assets/images/socialmedia2.png" alt="">
                    <div class="our-blog-card-content">
                        <div class="our-blog-card-info">
                            <span>20 أكتوبر 2021</span>
                            <span>مونتاج</span>
                        </div>
                        <h3 class="our-blog-card-title">أفضل تطبيقات مونتاج الصور للمصورين</h3>
                    </div>
                </a>
                <a href="#" class="our-blog-card">
                    <img src="/assets/images/socialmedia3.png" alt="">
                    <div class="our-blog-card-content">
                        <div class="our-blog-card-info">
                            <span>20 أكتوبر 2021</span>
                            <span>مونتاج</span>
                        </div>
                        <h3 class="our-blog-card-title">أفضل تطبيقات مونتاج الصور للمصورين</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
<%- include('./includes/footer.ejs'); %>
