<%- include('./includes/header.ejs') %>

    <section class="terms-conditions">
        <div class="container">
            <div class="title">
                <h3>اتفاقية المستخدم</h3>
            </div>
            <p>فيما يلي شروط وأحكام استخداما الموقع فائدة . يرجى قراءة هذه بعناية. إذا كنت بحاجة إلى الاتصال بنا بخصوص أي جانب من جوانب شروط الاستخدام التالية لموقعنا على الويب ، فيرجى الاتصال بنا على عنوان البريد الإلكتروني التالي: 
                @@@
                
                من خلال الوصول إلى محتوى الموقع فائدة (المشار إليه فيما يلي باسم موقع الويب) ، فإنك توافق على الشروط والأحكام المنصوص عليها هنا وتقبل أيضًا سياسة الخصوصية الخاصة بنا. إذا كنت لا توافق على أي من الشروط والأحكام ، يجب عليك عدم الاستمرار في استخدام الموقع والمغادرة على الفور.
                
                
                أنت توافق على أنه لا يجوز لك استخدام الموقع لأي أغراض غير قانونية ، وأنك ستحترم جميع القوانين واللوائح المعمول بها.
                
                
                أنت توافق على عدم استخدام موقع الويب بطريقة قد تضعف الأداء أو تفسد أو تتلاعب بالمحتوى أو المعلومات المتوفرة على الموقع أو تقلل من الوظائف العامة للموقع.
                
                
                أنت توافق على عدم المساس بأمان موقع الويب أو محاولة الوصول إلى المناطق المؤمنة من الموقع أو محاولة الوصول إلى أي معلومات حساسة قد تعتقد أنها موجودة على موقع الويب أو الخادم الذي يتم استضافته فيه.
                
                
                أنت توافق على أن تكون مسؤولاً مسؤولية كاملة عن أي مطالبة أو مصاريف أو خسائر أو التزامات أو تكاليف بما في ذلك الرسوم القانونية التي تكبدناها نتيجة أي انتهاك للشروط والأحكام الواردة في هذه الاتفاقية والتي تكون قد وافقت عليها إذا واصلت استخدام الموقع.
                
                
                يحظر تمامًا الاستنساخ والتوزيع بأي طريقة سواء عبر الإنترنت أو دون الاتصال بالإنترنت. يعد العمل على الموقع الإلكتروني والصور والشعارات والنصوص وغيرها من هذه المعلومات ملكًا لـ  المصور فوتوغرافي (ما لم يُنص على خلاف ذلك).
                
                
                تنصل
                
                
                على الرغم من أننا نسعى جاهدين لنكون دقيقين تمامًا في المعلومات المقدمة على موقعنا ، ونحاول تحديثها قدر الإمكان ، إلا أنه في بعض الحالات ، قد تكون بعض المعلومات التي تجدها على الموقع قديمة بعض الشيء.
                
                
                يحتفظ الموقع فائدة بالحق في إجراء أي تعديلات أو تصحيحات على المعلومات التي تجدها على الموقع في أي وقت دون إشعار.
                
                
                تغيير في شروط وأحكام الاستخدام
                نحتفظ بالحق في إجراء تغييرات ومراجعة شروط وأحكام الاستخدام المذكورة أعلاه.</p>
        </div>
    </section>

    <%- include('./includes/footer.ejs') %>
